/* ===== RESET CSS ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* LOGIN */
  .login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../image/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }
  
  .login-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 30px 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-card h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .login-input {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background: #3A7AFE;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .login-link {
    color: #3A7AFE;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-switch-text {
    font-size: 14px;
    margin-top: 16px;
  }
  
 /* REGISTER */
  .register-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../image/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }
  
  .register-card {
    background: white;
    padding: 30px 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .register-card h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .register-input {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    box-sizing: border-box;
  }
  
  .register-button {
    width: 100%;
    padding: 10px;
    background: #3A7AFE;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .register-link {
    color: #3A7AFE;
    cursor: pointer;
    font-weight: bold;
  }
  
  .register-switch-text {
    font-size: 14px;
    margin-top: 16px;
  }
  
  /*RESPONSIVE*/
  @media (max-width: 768px) {

  }

  @media (max-width: 768px) {
    .login-card {
      padding: 25px 20px;
    }
  
    .login-button {
      font-size: 14px;
    }
  
    .login-switch-text {
      font-size: 13px;
    }
  }
  
  @media (max-width: 480px) {
    .login-container {
      padding: 10px;
    }
    .register-card {
        width: 90%;
      }
    .register-container {
        padding: 0;
    }
  }
  